<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:js="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

<div class="container-fluid">

    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/passagem/save}" method="post" th:object="${passagem}"
          style="max-width:500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Veiculo</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{veiculo.id}" id="veiculoSelect">
                        <option th:each="veiculo : ${veiculos}" th:value="${veiculo.qtdPoltrnas}" th:text="${veiculo.modelo}"></option>
                    </select>
                </div>

            </div>
            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Poltrona</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{poltrona}" class="form-control" id="poltronaInput" min="1" step="1">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Data Saida</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dataSaida}" class="form-control" id="dataSaidaPicker" placeholder="dd-MM-yyyy" />
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Hora Saida</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{horaSaida}" class="form-control" id="horaSaidaPicker" placeholder="HH:mm" />
                </div>

            </div>
            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Cidade Origem</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{cidadeOrigem.id}" id="cidadeOrigemSelect">
                        <option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nomeCidade}"></option>
                    </select>
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Cidade Destino</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{cidadeDestino.id}" id="cidadeDestinoSelect">
                        <option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nomeCidade}"></option>
                    </select>
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Valor Passagem</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{valorPassagem}" class="form-control">
                </div>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Salvar</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancelar</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/passagem}]]"
    }

    flatpickr("#dataSaidaPicker", {
        dateFormat: "d-m-Y",
        allowInput: true
    });

    flatpickr("#horaSaidaPicker", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        allowInput: true
    });

    const veiculoSelect = document.getElementById('veiculoSelect');
    const poltronaInput = document.getElementById('poltronaInput');

    veiculoSelect.addEventListener('change', function (event) {
        poltronaInput.value = event.target.value;
    });

    const cidadeOrigemSelect = document.getElementById('cidadeOrigemSelect');
    const cidadeDestinoSelect = document.getElementById('cidadeDestinoSelect');

    cidadeOrigemSelect.addEventListener('change', function () {
        // Prevent selecting the same 'cidadeOrigem' and 'cidadeDestino'
        if (cidadeOrigemSelect.value === cidadeDestinoSelect.value) {
            alert("Cidade Origem e Cidade Destino não podem ser iguais.");
            cidadeOrigemSelect.value = '';
        }
    });

    cidadeDestinoSelect.addEventListener('change', function () {
        // Prevent selecting the same 'cidadeOrigem' and 'cidadeDestino'
        if (cidadeDestinoSelect.value === cidadeOrigemSelect.value) {
            alert("Cidade Origem e Cidade Destino não podem ser iguais.");
            cidadeDestinoSelect.value = '';
        }
    });
</script>
</body>
</html>
