<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#dataCompraPicker", {
        dateFormat: "dd-MM-yyyy", // Specify the date format
    });
    </script>
</head>
<body>

<div class="container-fluid">

    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/veiculo/save}" method="post" th:object="${veiculo}"
          style="max-width:500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">

                <label class="col-sm4 col-form-label">Número</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{numero}" class="form-control">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm4 col-form-label">Motorista</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{motorista}" class="form-control">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm4 col-form-label">Placa</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{placa}" class="form-control">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm4 col-form-label">Modelo</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{modelo}" class="form-control">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm4 col-form-label">Data da Compra</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dataCompra}" class="form-control" id="dataCompraPicker" placeholder="dd-MM-yyyy">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm4 col-form-label">Quantidades Poltronas</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{qtdPoltrnas}" class="form-control">
                </div>

            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Salvar</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancelar</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    function cancelForm(){
       window.location = "[[@{/veiculo}]]"
    }

</script>

</body>
</html>